body {
  background-color: rgb(252,155,45); /*orange*/;
}

.header a{
  color: rgb(112,110,0); /*olive green*/
}

.navigation li{
  color:rgb(209,208,173); /*brown-beige*/
}

#current{
  color: rgb(209,208,173); /*brown-beige*/
}

/*links in contact*/
.container a{
  color: rgb(174,255,0); /*neon green*/

}

.container p{
   color: rgb(174,255,0); /*neon green*/

 
}


