*{
  /* See http://learnlayout.com/box-model.html and http://learnlayout.com/box-sizing.html */
  box-sizing:border-box; 
  /*This displays borders around each box. To view borders set width > 0px */
  border:0px solid black; 
  /* There were white margins around the background image before I added this line. */
  margin:0px; }

.bg {
  height: 1000px;
} 

  
/* set properties of the main header*/
h1{ 
  color:Black;
  font-family:arial;
  font-size:60px;
  text-align:center;
  letter-spacing:0.3em;
  text-transform:uppercase;
  padding: 70px 0;
}

/* set properties of paragraph elements*/

p{
  font-family: 'Roboto', sans-serif;
  text-align:center;
  text-transform:uppercase;
  color: #ffffff;
}

/* By default, links are blue and underlined. Here I set them to be not underlined by default.*/
a{  
  text-decoration:none;
}

/*I want the header link to be grey. The header link will inherit the property of being not underlined.*/
.header a{
  color:#777777;	
}

.navigation {
  text-align: center;
 }

/* the navigation bar: an unordered list (ul) */
.navigation ul {
  padding: 0;
}

/* the list elements */
.navigation li {
  color: #babbbc; /*light grey*/
  /* makes items in a line instead of each on a new line */
  display: inline-block;
  /* sans-serif is a backup font in case the user does not have roboto on their computer */
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 2px;
  margin: 20px;
  text-transform: uppercase;
}

/*make the link to current page a darker color*/
#current{
  color:#777777; /*grey*/
}

/* A container box for the content on each page. Getting the content of each page cnetered was a bit of trial and error.*/
.container {
  margin-top: 50px; 
}

