*{
  /* See http://learnlayout.com/box-model.html and http://learnlayout.com/box-sizing.html */
  box-sizing:border-box; 
  /*This displays borders around each box. To view borders set width > 0px */
  border:0px solid black; 
  /* There were white margins around the background image before I added this line. */
  margin:0px; 
}

/*makes the body take up at least the height of the browser window*/
html,body{
  min-height:100%;
}

html{
  font-size:16px; /* Sets the base font size. In remaining code, 1em = 16px, 2em = 32px, etc. */
}


body{
   /* sans-serif is a backup font in case the user does not have roboto on their computer */
  font-family: 'Roboto', sans-serif;
  /*text-transform:uppercase;*/
  text-align:center;
}
 
/* set properties of the main header*/
h1{ 
  font-family:arial;
  font-size:4em; /*4 em is relative to 16px base font size*/
  font-weight:bold;
  letter-spacing:0.2em; /*0.2 em is relative to 4em font size, i.e. 0.2em = 0.2*4em = 0.2*4*16px = 12.8px*/
  padding: 1em 0em; /*1 em is relative to 4em font size*/
  text-transform:uppercase;
}

/* set properties of paragraph elements*/

p{
  color: #ffffff; /*white*/
}

/* By default, links are blue and underlined. Here I set them to be not underlined by default.*/
a{  
  text-decoration:none;
}

  /* Show normal screen elements (for now just the header) and hide mobile elements */

.mobileShow {display: none;}

.normalShow {display: inline;}

.header img{
  height: 2em;
  vertical-align:middle;
  margin: 0 0.2em 0 0; 
}

/* the navigation bar: an unordered list (ul) */
.navigation ul {
  padding: 0;
}

/* the list elements */
.navigation li {
  color: #babbbc; /*light grey*/
  /* makes items in a line instead of each on a new line */
  display: inline-block; 
  font-size: 1em;
  font-weight: 100;
  letter-spacing: 0.15em;
  margin:1em;
  text-transform:uppercase;
}

/*make the link to current page a darker color*/
#current{
  color:#777777; /*grey*/
}

/* A container box for the content on each page. Getting the content of each page cnetered was a bit of trial and error.*/
.container {
  margin:auto;
  margin-top: 50px;
  margin-bottom: 50px;
  width:60%;
  min-width:200px;
  overflow:hidden;
}


/* Modify appearance on smartphone screens */

/* the following commands apply to screens smaller than 480 px wide, i.e. smartphones*/
@media only screen and (max-device-width : 667px),(max-width:480px){

  .navigation{
    padding-top:0em;
    padding-bottom:2em;
  }

  .navigation li {
    display: block; /*make list elements appear vertically*/
    margin:2em;
    font-size:2em;
  }

  /* set smaller font sizes for smart phone screens*/
  h1{
   font-size:8em;
   padding-top:1.5em;
   padding-bottom:0.5em;
/*    font-size:2em;*/ /*4 em is relative to 16px base font size*/
   /* letter-spacing:0.2em;*/ /*0.2 em is relative to 4em font size, i.e. 0.2em = 0.2*4em = 0.2*4*16px = 12.8px*/
   padding-right: 0;
   padding-left: 0;
  }

  /* Show mobile elements (for now just the header) and hide normal screen elements */
  .mobileShow {display: inline;}

  .normalShow {display: none;}

  .header img{
    display: inline-block;
    height: 1.5em;
    margin: 0 0.25em 0 0; 
   }

  .container{
    width: 75%;
  }
  
  p {
  font-size:2em;
  }

}

