body {
  background-color: #000000; /*black*/
}

.container img{
 /* margin:auto centers the box horizontally */
  /*margin:auto;*/
  /* Set dimensions of box; here, sets dimensions of image */
  display:block; 
  max-width: 100%;
  min-width: 100px;
  height: auto;
 }
