body {
  background-color:rgb(174,255,0); /*neon green*/
}

.header a{
  color: rgb(112,110,0); /*olive green*/
}

.navigation li{
  color: rgb(188,164,124); /*light brown*/
}

#current{
  color:rgb(188,164,124); /*light brown*/
}

.container img{
 /* margin:auto centers the box horizontally */
  /*margin:auto;*/
  /* Set dimensions of box; here, sets dimensions of image */
  display:block; 
  max-width: 100%;
  min-width: 100px;
  height: auto;
 }
