body {
  background-color:#e6b3cc; /*light purple*/
  background-image: url('https://i.ibb.co/BBt1zKN/View-of-a-castle-balcony-and-a-beautiful-landscape-with-mountains-and-waterfall.jpg');
  background-repeat: no-repeat;
  background-position: center; 
  background-attachment: fixed;
  background-size: cover;
}

.header a{
  color:#330033; /*dark purple*/
}

.navigation li{
  color:#330033; /*dark purple*/
}

#current{
  color:#85AE04; /*mid-green*/
}
