body {
  background-color:#ffffff; /*white*/
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/7/70/Checkerboard_pattern.svg/500px-Checkerboard_pattern.svg.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.header a{
  color: #E78408; /*orange*/ 
}

.navigation li{
  color: #E78408; /*orange*/ 
}

#current{
  color: #664893;  /*purple*/
}

.container p {
  color: #664893;  /*purple*/
  border-radius: 7px;
  padding: 10px; 
  text-align: center; 
  margin:auto;
  text-transform: none;
  background: rgb(255, 255, 255); /* Fallback for older browsers without RGBA-support */
  background: rgba(255, 255, 255, 0.85);
}

/* By default, links are blue and underlined. In the header.css file, all links are styled to not be underlined. I want the link to rave ethics to be underlined, so I'm specifying that links in the mission div should be underlined and white. Anything that I specified for all links in the header file will apply unless I override using a command like this.*/
.container a{
  color: #85AE04; /*green*/
  text-decoration: underline;
}